
.overlay {
    position: absolute;
    height: 2em;
    width: 1.5em;
    opacity: 0;
    transition: .5s ease;
    background-color:  #2C33BF;
    top: 0%;
    left: 0%;
    right: 0%;
    cursor: default;
  }
  
  .sidenavIcon:hover .overlay {
    opacity: 1;
  }
  
  .overlaytext {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: default;
  }


.sidenavIcon{
 border:1px solid rgba(235, 235, 235, 0.993);
    padding: 15px;
    margin-left: 32px;
    color: #2C33BF;
    font-size: 4em;
    height: 2em;
    width: 1.5em;
position: relative;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .head{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #2C33BF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: royalblue;
  }

#accBtn {
    display: none;
    position: fixed;
    top: 50%;
    left: 0px;
    z-index: 99;
    display: block;
    font-size: 20px;
    border: none;
    outline: none;
    background-color:  #2C33BF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px 30px 30px 0px;
  }


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}


.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
  .navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
  }
  .navbar-brand a:hover{
    background-color: none !important;
  }
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #2C33BF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #scrollBtn:hover {
    background-color:#555BD9;
  }

#google_translate_element{
text-align:left;color: white;background-color: transparent;
padding-top: 2%;
}
.goog-te-banner-frame.skipt
ranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}
.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
width: 140px;
background-color: #555BD9;
color: #F2F2F2;
border: none;
}

.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
    

}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 

.card-title{
    font-size: 20px !important; 
    font-weight: bold;
    color: #2B33C0;
}
.card-text{
    font-size: 10px !important;
    font-weight: Heavy !important;
    color: black!important;
}
.btn-go{
    font-size: 10px;
    background-color: #2B33C0!important;
}
.card{
    padding: 2%;
   
}

.card1{
   
    font-family: 'Poppins', sans-serif;
     height: auto !important;
     padding-bottom: 5%;
     width: 100%;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#interviews span {
    margin: 0 10px 10px 0;
    align-items: left;
}


textarea {
   resize: none;
}

#output {
    background-color:#F9F9F9;
    padding:10px;
    width: 100%;
    margin-top:20px;
    line-height:30px;
}
.hide {
    display:none;
}
.show {
    display:block;
}

.video{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
 }

 
 .nav-tabs>li> a {
    color:rgb(66, 66, 66);
    background-color:transparent;
}
.nav-tabs>li> a:hover {

    background-color:transparent;
}

.nav-tabs>li> a:active{

    border-bottom: 2px #2C33BF solid;
}
.Input-modals{
    color: black !important;
    text-align: left !important;
}
.modal-texts{
    color: black !important;
}

 #navbar {
    z-index: 1;
    border-color:none!important;
    border: 0px;
    border-radius: 0px;
    background-color: #2C33BF;
    position: fixed;
    top: 0;
    width: 100%;
  }

#navbar a {
    color:white;

}

#navbar a:hover{
  color: #555BD9;
  background-color: #F2F2F2;
}
.dropdown a:hover{color: #F2F2F2 !important;}

.navbar-toggle {
    border: 0px;
    border-radius: 0px;
    border-color:none!important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a {
  color: #555BD9!important;
  background-color: #F2F2F2!important;

}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent !important;
}

.dropdown a{ background-color: #2C33BF!important;}

.dropdown-menu{

  background-color: transparent;
}

.dropdown-menu a:hover{

color: #F2F2F2 !important;
}


.p,.a,.h1{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;

}
a:hover{color: white;}
.bg-dark{background-color: #222;}
.text-white{color: white;}
.text-center{text-align: center;}

 @media only screen and (min-width: 990px) {
     .icons1{
         margin-left: 130%;
         width: 20%;
     }
  
  }
  @media only screen and (min-width: 990px) {
    .icons2{
        margin-left: 60%;
        width: 20%;
    }

}

 @media only screen and (min-width: 990px) {
     .icons1{
         margin-left: 130%;
         width: 20%;
     }
  
  }
  @media only screen and (min-width: 1280px) {
   
 
 

}


 

 @media only screen and (max-width: 989px) {

 
 
 }



@media screen and (max-width: 320px) {
    body{
       padding-top: 10%;
    }
    .heading{
        margin-top: 50%;
     
    }
    h1{
       font-weight: 580;
        font-size: 18px;
    
    }
    h3{
        font-weight: 500;
         font-size: 17px;
        color: rgb(59, 59, 59);
     
     }
     .text{padding-top: 20px;}

}
@media screen and (max-width: 480px) {
    body{
       padding-top: 10%;
    }
    .heading{
        margin-top: 50%;
     
    }
}

@media screen and (max-width: 600px) {
    body{
       padding-top: 8%;
    }
    .heading{
        margin-top: 30%;
     
    }
    h1{
        font-weight: 580;
         font-size: 18px;
     
     }
     h3{
         font-weight: 500;
          font-size: 17px;
         color: rgb(59, 59, 59);
      
      }
      .text{padding-top: 20px;}

}

@media screen and (min-width: 600px) {
    body{
       padding-top: 8%;
    }
   
}

@media screen and (min-width: 768px) {
    body{
       padding-top: 6%;
    }
   
}
@media screen and (min-width: 850px) {
    body{
       padding-top: 4%;
    }
   
}

@media screen and (min-width: 1000px) {
    body{
       padding-top: 4%;
    }
    .heading{
        padding-top: 0%;
     
    }  
}


@media screen and (min-width: 1200px) {
    body{
       padding-top: 4%;
    }
    .heading{
        padding-top: 20%;
     
    }
}

@media screen and (min-width: 1440px) {
    body{
       padding-top: 4%;
    }
    .heading{
        padding-top: 10%;
     
    }
}


 .intro{
     display: flex;
     justify-content: space-between;
     padding: 2%  3%;
     flex-wrap: wrap;
     width: 100%;
     background-color: white;
 }
.sectiontext{
    flex:40%;

  
  }
.image{flex:60%;}

.heading{
     margin-top: 10%;
     text-align: center;
     font-size: 40px;
    color:#555BD9 !important;
 }

 
 .intro-text{
     font-size: 20px;
     text-align:center;
     color:#8286D9 !important;
 

 }

 .mainheadings{text-align:center;color:#555BD9 !important;}

 @media only screen and (max-width: 700px) {
    .collection-button{
        width: 150px;
       
        margin-left: 20%;
    }
}
    @media only screen and (max-width: 700px) {
        .collection-button1{
            width: 150px;
           
            margin-left: 20%;
        }
    }
       

 
 @media only screen and (max-width: 1200px) {
    .intro{
       
        display: block;
    }
}
    .intro-heading{
       margin-left: 10% !important;
    }
    .intro-heading1{
        margin-left: 20% ;
     }

 @media only screen and (max-width: 1600px) {
        .logo{width:20%;}
     }
  
@media only screen and (max-width: 800px) {
       .logo{width:20%;}
   
    }

@media only screen and (max-width: 600px) {
       .logo{width:30%;}
    }
    @media only screen and (max-width: 400px) {
        .logo{width:30%;}
        h4 {font-size: 1em};
     }

    @media only screen and (max-width: 200px) {
       .logo{width:40%;}
       h4 {font-size: 1em};
    }
 
    .fuzzy{
        padding-bottom: 5%;
        padding-top: 5%;
        background-color: #2d0b60;
    }
    .subfooter{background-color: #555BD9;
        
    }
    .footer{
      
        bottom:0;
        
    }

    
   
     
      
      .android {
        width: 150px;
      }


    .container {
        padding: 2% 10%;
      }
    .errormessage {
        color: #e01451;
        font-size: 90%;}

    .copyrightfooter{padding: 1% 0%;}
    #container {
        padding-top: 2% !important;
      }